<!-- <h2>Iniciar Sesion</h2>
<form hx-post="/login" hx-target="">
    <label for="email">Correo: </label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="password">Contraseña: </label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Ingresar</button>
</form>
<br>
{{ if .errors }}
    {{ range .errors}}
    <p></p>
    {{ end }}
{{ end }} -->

<div id="login-form">
    <h2>Iniciar Sesión</h2>
    <form hx-post="/login" hx-target="#content">
        <label for="email">Correo:</label>
        <input type="text" id="email" name="email">
        
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password">
        
        <button type="submit">Ingresar</button>
    </form>
    <div id="login-messages">
        {{ if .errors }}
            {{ range .errors }}
            <p class="error">{{ . }}</p>
            {{ end }}
        {{ end }}
    </div>
</div>

